 .u-section-1 {
  background-image: none;
  min-height: 956px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-style: normal;
  margin: 270px 62px 0;
}

.u-section-1 .u-icon-1 {
  width: 80px;
  height: 76px;
  color: rgb(217, 217, 217) !important;
  margin: 63px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 276px;
  margin: 256px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  font-weight: 700;
  width: 275px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 257px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-icon-1 {
    width: 74px;
    height: 82px;
    margin-top: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 294px;
  }

  .u-section-1 .u-icon-1 {
    height: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: 320px;
    margin-right: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 320px;
    margin-right: 320px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 910px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 310px;
    margin-top: 186px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    width: 57px;
    height: 54px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-top: 47px;
  }

  .u-section-1 .u-text-2 {
    width: 186px;
    margin-top: 304px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 246px;
    margin-left: auto;
    margin-right: auto;
  }
}h5 {font-family: 'Macondo', cursive;} 